@page
@model DigiLearn.Web.Pages.Profile.EditModel
@{
}
<div class="max-w-7xl space-y-14 px-4 mx-auto">
    <div class="grid md:grid-cols-12 grid-cols-1 items-start gap-5">
        <partial name="_ProfileSidebar"></partial>
        <div class="lg:col-span-9 md:col-span-8">
            <div class="space-y-10">
                <div class="space-y-5">
                    <div class="flex items-center gap-3">
                        <div class="flex items-center gap-1">
                            <div class="w-1 h-1 bg-foreground rounded-full"></div>
                            <div class="w-2 h-2 bg-foreground rounded-full"></div>
                        </div>
                        <div class="font-black text-foreground">ویرایش پروفایل</div>
                    </div>
                    <form method="post" class="space-y-6">

                        <div>
                            <h5 class="font-bold text-lg mb-4">اطلاعات حساب</h5>
                            <div class="grid grid-cols-2 gap-8" style="margin-bottom:.5rem">
                                <div>
                                    <input asp-for="Name" type="text" placeholder="نام" class="form-input w-full h-12 bg-secondary text-foreground border-border rounded-xl text-sm px-5">
                                    <span asp-validation-for="Name"></span>
                                </div>
                                <div>
                                    <input asp-for="Family" type="text" placeholder="نام خانوادگی" class="form-input w-full h-12 bg-secondary text-foreground border-border rounded-xl text-sm px-5">
                                    <span asp-validation-for="Family"></span>
                                </div>


                            </div>
                            <div class="grid grid-cols-1 gap-8" style="margin-bottom:.5rem">
                                <div>
                                    <input asp-for="Email" type="email" placeholder="ایمیل" class="form-input w-full h-12 bg-secondary text-foreground border-border rounded-xl text-sm px-5">
                                    <span asp-validation-for="Email"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="flex items-center justify-center w-64 h-12 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-6 text-lg mt-4">بروزرسانی</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>